<!DOCTYPE html>
<html>
  <head>
    <title>Locadora Ruby Filmes </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= nav_bar brand: "Locadora Ruby Filmes", brand_link: root_url do %>
        <%= form_tag busca_filme_path, method: :get,  class: "navbar-form navbar-right" do %>
              <%= link_to  "Filmes", root_url, class: "navbar-form" %>
               <%= link_to  "Adminstrador", new_filme_path, class: "navbar-form" %>
            <div class="form-group">
              <%= text_field_tag :nome, @nome,  class: "form-control" %>
              <%= button_to  "Buscar", nil, class: "btn btn-default" %>
            </div>
        <% end %>
      <% end %>
        <div class="container">
    <%= yield %>
        </div>
  </body>
</html>
